body {
    font-family: "Courier New";
    color: gray;
    background: url("img/world-domination.png") no-repeat;
    background-size: cover;
}
.container {
    max-height: 200px;
    max-width: 400px;
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}
@media (max-width: 1000px) {
    body {
        background-size: 1030px 770px;
        background-position: 75% 0%;
    }
}
@media (max-width: 500px) {
body {
    background-size: 880px 670px;
    background-position: 68% 0%;
}

