body {
    font-family: 'Lato', sans-serif;
    background: url("img/world_domination.jpeg") no-repeat;
    background-size: cover;
    line-height: 1.2;
}
.container {
    opacity: 0.9;
    margin: 110px auto 0 auto;
    max-width: 320px;
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
}

ul {
    line-height: 1.5;
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 1000px) {
    body {
        background-size: 1030px 770px;
        background-position: 75% 0%;
    }
    .container {
      margin-top: 20px;
    }
}
@media (max-width: 500px) {
body {
    background-size: 880px 670px;
    background-position: 68% 0%;
}

